<!-- <%- include ('./partials/header.html') %> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

    </style>
</head>
<body>
    <main id="Main">
        <div class="introduction">
            <h3>Welcome, Henok to</h3>
            <h1>The Largest E-Commerce <br> Website In Ethiopia</h1>
            <p>E-commerce platform for every niche <br> Selling only the best things online and <br> letting you have a sustainable income</p>
            <a href="product.html">Shop Now</a>
            <img src="images/Main Image.jpg" alt="Farmer Boy">
        </div>
    </main>
</body>
</html>

<!-- <%- include ('./partials/footer.html') %>  -->